.button-container {
  display: flex;
  flex-direction: row; /* Pour empiler les boutons verticalement si nécessaire */
}

.button-container div {
  flex-grow: 1;
}
#b1,
#b2,
#b3 {
  width: 30%;
}

img {
  width: 100%;
}

#coin{
  width: 25px;
}

#rj, #sm{
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;
}
#title{
  font-size: 25px;
}

/* mobile.css */
@media (max-width: 768px) {
  #title{
    font-size: 85px;
  }
  
}